body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('tree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

  /* Target by ID (#) */
  #page-header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
  }

  /* Target by Class (.) */
  .card {
    border: 2px solid #ddd;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  /* Combining Classes */
  .featured {
    border-color: #f39c12;
    background-color: #fffdf0;
  }






.clickable-box {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: sans-serif;
  }
  
  /* Optional: changes color slightly when you hover over it */
  .clickable-box:hover {
    background-color: #2980b9;
  }

  /* Removes the default underline from the link */
  a {
    text-decoration: none; 
  }

   body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    /* Target by ID (#) */
    #page-header {
      background-color: #2c3e50;
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: 6px;
    }

    /* Target by Class (.) */
    .card {
      border: 2px solid #ddd;
      padding: 15px;
      margin: 15px 0;
      border-radius: 8px;
      background-color: #f9f9f9;
      
    }
    .card:hover{
      border-color: #0099ff;
    }
    

    /* Combining Classes */
    .featured {
      border-color: #f39c12;
      background-color: #fffdf0;
    }
    .products {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    .products th,
    .products td {
      border: 1px solid #38317c;
      padding: 12px;
      text-align: left;
      color: #0000007e;
    }
